@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    align-items: center;
    background-color: beige;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    height: 100%;
    background-color: rgb(14, 14, 14);
}

.container {
    margin: 0px auto;
    width: 810px;
    height: 738px;
}

.col-4 {
    float: left;
    width: calc(100% / 3);
}

.col-8 {
    float: left;
    width: calc((100% / 3)* 2);
}

.col-12 {
    float: left;
    width: calc(100% / 1);
}

@media only screen and (max-width: 480px) {
    .container {
        margin: 0px auto;
        width: 100%;
    }

    .col-4 {
        float: left;
        clear: left;
        width: calc(100% / 1);
    }

    .col-8 {
        float: left;
        clear: left;
        width: calc(100% / 1);
    }

    .col-12 {
        float: left;
        clear: left;
        width: calc(100% / 1);
    }
}

.logo {
    background-color: #1B1B6C;
    height: 5%;
    align-items: start;
}

.logo img {
    width: 70px;
    color: white;
    height: auto;
    position: relative;
    margin-top: 12px;
    margin-left: 10px;
}

.top-navigation {
    background-color: #13124F;
    height: 25%;
    align-items: start;
    color: white;
}

.top-navigation h1 {
    font-size: 40px;
    font-weight: 400;
    position: relative;
    margin-left: 18px;
    margin-top: 45px;
}

.top-navigation p {
    font-weight: 100;
    font-size: 12px;
    position: relative;
    margin-left: 18px;
    margin-top: -25px;
}

.top-navigation button {
    font-weight: 100;
    font-size: 8px;
    position: relative;
    color: white;
    background-color: #F61067;
    border-style: none;
    width: 70px;
    height: 25px;
    margin-left: 18px;
    margin-top: 5px;
}

.content {
    background-color: white;
    height: 65%;
    gap: 10px;
}

.content h2 {
    color: black;
    font-size: 24px;
    font-weight: 100;
    position: relative;
    margin-left: 18px;
    margin-top: 30px;
    font-family: monospace;
}

.content hr {
    border-bottom: 5px grey #ddd;
    border-style: groove;
    position: relative;
    margin-left: 18px;
    margin-top: -5px;
}

.content p {
    font-size: 10px;
    font-weight: 100;
    position: relative;
    margin-left: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content img {
    width: 95%;
    height: auto;
    position: relative;
    margin-left: 18px;
    margin-top: 10px;
}

.anh {
    background-color: #9090A5;
    width: 95%;
    height: 35px;
    display: flex;
    -ms-flex-item-align: start;
    position: relative;
    margin-left: 18px;
    margin-top: 6px;
}

.anh img {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.anh p {
    color: white;
    font-size: 10px;
    position: relative;
    margin-left: 7px;
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
}

.sidebar {
    background-color: white;
    height: 65%;
}

.sidebar button {
    position: relative;
    width: 93%;
    height: 25px;
    border-style: none;
    margin-top: 25px;
    margin-left: 8px;
    background-color: #F61067;
}

.sidebar button img {
    width: 12px;
    height: auto;
    color: white;
    position: relative;
    margin-top: 6px;
    margin-left: -60px;
}

.sidebar button p {
    color: white;
    font-size: 9px;
    position: relative;
    margin-top: -15px;
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
}

.sidebar button .p2 {
    color: white;
    font-size: 9px;
    position: relative;
    margin-top: -20 px;
    margin-left: 155px;
    font-family: 'Lato', sans-serif;
    border-radius: 45%;
    width: 12px;
    height: 12px;
    background-color: #352BA5;
}

.husnegt1 {
    background-color: #9090A5;
    position: relative;
    width: 93%;
    height: 35px;
    border-style: none;
    align-items: start;
    margin-top: -3px;
    margin-left: 8px;
}

.sidebar .husnegt1 p {
    color: white;
    font-size: 12px;
    position: relative;
    margin-left: 10px;
    top: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.husnegt2 {
    background-color: #13124F;
    position: relative;
    width: 93%;
    height: 110px;
    border-style: none;
    align-items: start;
    margin-top: -12px;
    margin-left: 8px;
}

.sidebar .husnegt2 p {
    color: white;
    font-size: 9.5px;
    position: relative;
    margin-left: 8px;
    top: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-input {
    background-color: #1B1B6C;
    color: white;
    border: 1px solid #9090A5;
    border-style: inset;
    width: 90%;
    height: 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    outline: none;
}

.custom-input::placeholder {
    color: #9090A5;
    font-size: 9.5px;
}

.husnegt2 .btn {
    width: 93%;
    height: 24px;
    color: white;
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    border-style: none;
    background-color: #F61067;
}

.husnegt3 {
    background-color: #352BA5;
    position: relative;
    width: 93%;
    height: 24px;
    border-style: none;
    align-items: center;
    margin-top: -12px;
    margin-left: 8px;
}

.husnegt3 p {
    color: white;
    font-size: 8px;
    position: relative;
    top: 9px;
    margin-left: 35px;
    text-decoration: underline;
}

.husnegt4 {
    background-color: white;
    border-color: #d6d6d6;
    border-width: 1.5px;
    border-style: solid;
    position: relative;
    width: 93%;
    height: 90px;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
}

.husnegt4 p {
    color: black;
    font-size: 9px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.progress-bar {
    width: 90%;
    height: 6px;
    background: linear-gradient(to right, #F61067 70%, #2AD392 30%);
    margin-left: 12px;
}

.buttons {
    display: flex;
    margin-top: -14px;
    margin-left: 4px;
    margin-right: 10px;
}

.buttons .cool {
    background-color: #F61067;
    color: white;
    font-size: 9px;
    height: 22px;
}

.buttons .lame {
    background-color: white;
    color: #2AD392;
    font-size: 9px;
    border-color: #2AD392;
    border-width: 2px;
    height: 22px;
    border-style: solid;
}

.footer {
    background-color: #13124F;
    height: 5%;
}

.footer p {
    color: white;
    position: relative;
    font-size: 10px;
    font-weight: 100;
    padding: 5px;
    padding-left: 22px;
}
